div
{
  #border-style: solid;
}

div.content
{
  position: relative;
  background-color: #ffffff;
  max-width: 800px;
  margin: auto;
}

body
{
  #background-color: #e0e0e0;
}

@media print
{
  a
  {
    pointer-events: none;
    cursor: default;
    color: black;
    text-decoration: none;
  }
}

div.centered
{
  text-align: center;
}

ul
{
  padding-left: 20px;
}

.uppercase
{
  text-transform: uppercase;
}

.indented
{
  margin-left: 15px;
}

.bottom_margined
{
  margin-bottom: 10px;
}

div.right_align
{
  position: relative;
  margin: 20px;
  width: 30%;
  float: right;
  display: inline-block;
}

div.left_align
{
  position: relative;
  margin: 20px;
  width: 60%;
  float: left;
  display: inline-block;
}

img.photo
{
  width: 100%;
}
